parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'entity_types' on mixed\\.$#"
			count: 2
			path: core/lib/Drupal/Core/Config/Action/ConfigActionManager.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\ConfigActionManager\\:\\:__construct\\(\\) has parameter \\$namespaces with no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/ConfigActionManager.php

		-
			message: "#^Parameter \\#2 \\$haystack of function in_array expects array, mixed given\\.$#"
			count: 2
			path: core/lib/Drupal/Core/Config/Action/ConfigActionManager.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\Deriver\\\\EntityCreateDeriver\\:\\:getDerivativeDefinitions\\(\\) has parameter \\$base_plugin_definition with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/EntityCreateDeriver.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\Deriver\\\\EntityCreateDeriver\\:\\:getDerivativeDefinitions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/EntityCreateDeriver.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\Deriver\\\\EntityMethodDeriver\\:\\:addDerivative\\(\\) has parameter \\$derivative with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/EntityMethodDeriver.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\Deriver\\\\EntityMethodDeriver\\:\\:getDerivativeDefinitions\\(\\) has parameter \\$base_plugin_definition with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/EntityMethodDeriver.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\Deriver\\\\EntityMethodDeriver\\:\\:getDerivativeDefinitions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/EntityMethodDeriver.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\Deriver\\\\EntityMethodDeriver\\:\\:processMethod\\(\\) has parameter \\$derivative with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/EntityMethodDeriver.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/EntityMethodDeriver.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\Deriver\\\\PermissionsPerBundleDeriver\\:\\:getDerivativeDefinitions\\(\\) has parameter \\$base_plugin_definition with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/PermissionsPerBundleDeriver.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\Deriver\\\\PermissionsPerBundleDeriver\\:\\:getDerivativeDefinitions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/Deriver/PermissionsPerBundleDeriver.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\EntityCreate\\:\\:create\\(\\) has parameter \\$configuration with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/EntityCreate.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\EntityMethod\\:\\:create\\(\\) has parameter \\$configuration with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/EntityMethod.php

		-
			message: "#^Parameter \\#1 \\$entity of method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\EntityMethod\\:\\:applyPluralized\\(\\) expects Drupal\\\\Core\\\\Config\\\\Entity\\\\ConfigEntityInterface, Drupal\\\\Core\\\\Config\\\\Entity\\\\ConfigEntityInterface\\|null given\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/EntityMethod.php

		-
			message: "#^Parameter \\#1 \\$entity of method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\EntityMethod\\:\\:applySingle\\(\\) expects Drupal\\\\Core\\\\Config\\\\Entity\\\\ConfigEntityInterface, Drupal\\\\Core\\\\Config\\\\Entity\\\\ConfigEntityInterface\\|null given\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/EntityMethod.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\PermissionsPerBundle\\:\\:create\\(\\) has parameter \\$configuration with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/PermissionsPerBundle.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Action\\\\Plugin\\\\ConfigAction\\\\SimpleConfigUpdate\\:\\:create\\(\\) has parameter \\$configuration with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Action/Plugin/ConfigAction/SimpleConfigUpdate.php

		-
			message: "#^Cannot access property \\$id on Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\Checkpoint\\|null\\.$#"
			count: 3
			path: core/lib/Drupal/Core/Config/Checkpoint/CheckpointStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorage\\:\\:decode\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/CheckpointStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorage\\:\\:encode\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/CheckpointStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorage\\:\\:getAllCollectionNames\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/CheckpointStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorage\\:\\:listAll\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/CheckpointStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorage\\:\\:read\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/CheckpointStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorage\\:\\:readMultiple\\(\\) has parameter \\$names with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/CheckpointStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorage\\:\\:readMultiple\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/CheckpointStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorage\\:\\:write\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/CheckpointStorage.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$arrays of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/CheckpointStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\LinearHistory\\:\\:getParents\\(\\) return type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/LinearHistory.php

		-
			message: "#^Parameter \\#1 \\$array of function end expects array\\|object, mixed given\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/LinearHistory.php

		-
			message: "#^Property Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\LinearHistory\\:\\:\\$activeCheckpoint \\(Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\Checkpoint\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/LinearHistory.php

		-
			message: "#^Property Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\LinearHistory\\:\\:\\$checkpoints \\(array\\<Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\Checkpoint\\>\\) does not accept mixed\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/LinearHistory.php

		-
			message: "#^Property Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\NoCheckpointsException\\:\\:\\$message has no type specified\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Config/Checkpoint/NoCheckpointsException.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\ConfigConfigurator\\:\\:__construct\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/ConfigConfigurator.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 2
			path: core/lib/Drupal/Core/Recipe/ConfigConfigurator.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\ContentConfigurator\\:\\:__construct\\(\\) has parameter \\$content with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/ContentConfigurator.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Extension\\\\Extension\\:\\:\\$module_dependencies\\.$#"
			count: 2
			path: core/lib/Drupal/Core/Recipe/InstallConfigurator.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Extension\\\\Extension\\:\\:\\$requires\\.$#"
			count: 2
			path: core/lib/Drupal/Core/Recipe/InstallConfigurator.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Extension\\\\Extension\\:\\:\\$sort\\.$#"
			count: 2
			path: core/lib/Drupal/Core/Recipe/InstallConfigurator.php

		-
			message: "#^Property Drupal\\\\Core\\\\Recipe\\\\InstallConfigurator\\:\\:\\$modules \\(array\\<string\\>\\) does not accept array\\<int, int\\|string\\>\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/InstallConfigurator.php

		-
			message: "#^Parameter \\#1 \\$path of static method Drupal\\\\Core\\\\Recipe\\\\Recipe\\:\\:createFromDirectory\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeCommand.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeCommand.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeConfigStorageWrapper\\:\\:decode\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeConfigStorageWrapper.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeConfigStorageWrapper\\:\\:encode\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeConfigStorageWrapper.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeConfigStorageWrapper\\:\\:getAllCollectionNames\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeConfigStorageWrapper.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeConfigStorageWrapper\\:\\:listAll\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeConfigStorageWrapper.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeConfigStorageWrapper\\:\\:read\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeConfigStorageWrapper.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeConfigStorageWrapper\\:\\:readMultiple\\(\\) has parameter \\$names with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeConfigStorageWrapper.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeConfigStorageWrapper\\:\\:readMultiple\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeConfigStorageWrapper.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeConfigStorageWrapper\\:\\:write\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeConfigStorageWrapper.php

		-
			message: "#^Property Drupal\\\\Core\\\\Recipe\\\\RecipeConfigurator\\:\\:\\$recipes type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeConfigurator.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeDiscovery\\:\\:__construct\\(\\) has parameter \\$paths with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeDiscovery.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeExtensionConfigStorage\\:\\:__construct\\(\\) has parameter \\$configNames with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeExtensionConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeExtensionConfigStorage\\:\\:decode\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeExtensionConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeExtensionConfigStorage\\:\\:encode\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeExtensionConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeExtensionConfigStorage\\:\\:getAllCollectionNames\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeExtensionConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeExtensionConfigStorage\\:\\:listAll\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeExtensionConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeExtensionConfigStorage\\:\\:read\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeExtensionConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeExtensionConfigStorage\\:\\:readMultiple\\(\\) has parameter \\$names with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeExtensionConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeExtensionConfigStorage\\:\\:readMultiple\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeExtensionConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeExtensionConfigStorage\\:\\:write\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeExtensionConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeMissingExtensionsException\\:\\:__construct\\(\\) has parameter \\$extensions with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeMissingExtensionsException.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeOverrideConfigStorage\\:\\:decode\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeOverrideConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeOverrideConfigStorage\\:\\:encode\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeOverrideConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeOverrideConfigStorage\\:\\:getAllCollectionNames\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeOverrideConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeOverrideConfigStorage\\:\\:listAll\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeOverrideConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeOverrideConfigStorage\\:\\:read\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeOverrideConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeOverrideConfigStorage\\:\\:readMultiple\\(\\) has parameter \\$names with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeOverrideConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeOverrideConfigStorage\\:\\:readMultiple\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeOverrideConfigStorage.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\RecipeOverrideConfigStorage\\:\\:write\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeOverrideConfigStorage.php

		-
			message: "#^Parameter \\#6 \\$install_profile of class Drupal\\\\Core\\\\Recipe\\\\RecipeConfigInstaller constructor expects string, null given\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/RecipeRunner.php

		-
			message: "#^Method Drupal\\\\Core\\\\Recipe\\\\UnknownRecipeException\\:\\:__construct\\(\\) has parameter \\$searchPaths with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/lib/Drupal/Core/Recipe/UnknownRecipeException.php

		-
			message: "#^PHPDoc tag @var for variable \\$sync_data has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/FunctionalTests/Core/Recipe/StandardRecipeTest.php

		-
			message: "#^Cannot access offset 'admin_label' on mixed\\.$#"
			count: 3
			path: core/tests/Drupal/KernelTests/Core/Config/Action/ConfigActionTest.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 3
			path: core/tests/Drupal/KernelTests/Core/Config/Action/ConfigActionTest.php

		-
			message: "#^Cannot access offset 'collection' on array\\|false\\.$#"
			count: 2
			path: core/tests/Drupal/KernelTests/Core/Config/Storage/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Cannot access offset 'foo' on array\\|false\\.$#"
			count: 3
			path: core/tests/Drupal/KernelTests/Core/Config/Storage/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Cannot access offset 'id' on array\\|false\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Config/Storage/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Cannot access offset 'label' on array\\|false\\.$#"
			count: 2
			path: core/tests/Drupal/KernelTests/Core/Config/Storage/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Cannot access offset 'name' on array\\|false\\.$#"
			count: 3
			path: core/tests/Drupal/KernelTests/Core/Config/Storage/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Cannot access offset 'uuid' on array\\|false\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Config/Storage/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Method Drupal\\\\KernelTests\\\\Core\\\\Recipe\\\\RecipeDiscoveryTest\\:\\:providerRecipeDiscovery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Recipe/RecipeDiscoveryTest.php

		-
			message: "#^Method Drupal\\\\KernelTests\\\\Core\\\\Recipe\\\\RecipeDiscoveryTest\\:\\:providerRecipeDiscoveryException\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Recipe/RecipeDiscoveryTest.php

		-
			message: "#^Cannot access offset '_core' on mixed\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php

		-
			message: "#^Cannot access offset 'default_config_hash' on mixed\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php

		-
			message: "#^Cannot access offset 'uuid' on mixed\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php

		-
			message: "#^Cannot call method label\\(\\) on Drupal\\\\node\\\\Entity\\\\NodeType\\|null\\.$#"
			count: 3
			path: core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php

		-
			message: "#^Cannot call method save\\(\\) on Drupal\\\\node\\\\Entity\\\\NodeType\\|null\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php

		-
			message: "#^Cannot call method setNewRevision\\(\\) on Drupal\\\\node\\\\Entity\\\\NodeType\\|null\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php

		-
			message: "#^Parameter \\#1 \\$string of function strlen expects string, mixed given\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Recipe/RecipeRunnerTest.php

		-
			message: "#^Method Drupal\\\\KernelTests\\\\Core\\\\Recipe\\\\RecipeTest\\:\\:providerTestCreateFromDirectory\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Recipe/RecipeTest.php

		-
			message: "#^Method Drupal\\\\KernelTests\\\\Core\\\\Recipe\\\\RecipeTest\\:\\:testCreateFromDirectory2\\(\\) has parameter \\$expected_modules with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/KernelTests/Core/Recipe/RecipeTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:getName\\(\\)\\.$#"
			count: 4
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:getOriginal\\(\\)\\.$#"
			count: 4
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:getRawData\\(\\)\\.$#"
			count: 4
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:getStorage\\(\\)\\.$#"
			count: 4
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 3
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorageTest\\:\\:readMethodsProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorageTest\\:\\:setRandomFixtureConfig\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorageTest\\:\\:testReadOperations\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorageTest\\:\\:testReadOperations\\(\\) has parameter \\$fixture with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorageTest\\:\\:testWriteOperations\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorageTest\\:\\:testWriteOperations\\(\\) has parameter \\$fixture with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorageTest\\:\\:writeMethodsProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\{Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\CheckpointStorage, string\\} given\\.$#"
			count: 2
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\{Drupal\\\\Core\\\\Config\\\\MemoryStorage, string\\} given\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Parameter \\#1 \\$config of class Drupal\\\\Core\\\\Config\\\\ConfigCrudEvent constructor expects Drupal\\\\Core\\\\Config\\\\StorableConfigBase, object given\\.$#"
			count: 4
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Using nullsafe property access on non\\-nullable type mixed\\. Use \\-\\> instead\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/CheckpointStorageTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:delete\\(\\)\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/LinearHistoryTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:get\\(\\)\\.$#"
			count: 7
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/LinearHistoryTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:getCurrentTime\\(\\)\\.$#"
			count: 2
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/LinearHistoryTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:set\\(\\)\\.$#"
			count: 3
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/LinearHistoryTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 'hash2' and 'hash1'\\|null will always evaluate to false\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/LinearHistoryTest.php

		-
			message: "#^Parameter \\#1 \\$state of class Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\LinearHistory constructor expects Drupal\\\\Core\\\\State\\\\StateInterface, object given\\.$#"
			count: 7
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/LinearHistoryTest.php

		-
			message: "#^Parameter \\#2 \\$time of class Drupal\\\\Core\\\\Config\\\\Checkpoint\\\\LinearHistory constructor expects Drupal\\\\Component\\\\Datetime\\\\TimeInterface, object given\\.$#"
			count: 7
			path: core/tests/Drupal/Tests/Core/Config/Checkpoint/LinearHistoryTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\Core\\\\Recipe\\\\RecipeConfigStorageWrapperTest\\:\\:testUnsupportedMethods\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Recipe/RecipeConfigStorageWrapperTest.php

		-
			message: "#^Method Drupal\\\\Tests\\\\Core\\\\Recipe\\\\RecipeConfigStorageWrapperTest\\:\\:unsupportedMethods\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: core/tests/Drupal/Tests/Core/Recipe/RecipeConfigStorageWrapperTest.php
